<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>port</key>
	<string>5222</string>
	<key>serviceNamespace</key>
	<string>http://mobilis.inf.tu-dresden.de#services/ACDSenseService</string>
	<key>hostName</key>
	<string>localhost</string>
	<key>password</key>
	<string>testpw</string>
	<key>jid</key>
	<string>mike@localhost</string>
</dict>
</plist>
